/* /* @media (max-width: 768px) {
  .main-content {
    padding: 5px 5px;
  }
  .container {
    padding: 0px;
  }
  ul {
    gap: 0;
  }
}
@media (max-width: 576px) {
  ul li a {
    font-size: 1rem;
  }
  button {
    width: 70px;
    font-size: 1rem;
    height: 2.5rem;
  }
  .logo {
    display: none;
  }
} */
