/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  overflow-x: hidden; 
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

:root {
  --Primary-color: #388260;
  --white: #fdfdfd;
  --font-size: 16px;
  --C-pri-Dark-Slate-Blue: #243942;
  --paragraph: #535659;
}
@media screen and (max-width: 1450px) and (min-width: 320px){
  body {
    zoom: 80%;
}
}
body {
  font-family: Arial, sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  
}
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 21px 0px 0.43px 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--white, #fdfdfd);
}
.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
}
.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 49px;
  background: var(--white, #fdfdfd);
  /* flex-shrink: 0; */
  /* min-width: 320px; */

}
/* Custom Styles */
.container-fluid {
  padding: 0 15px;
}

/* Button Styling */
.register {
  background-color: #388260 !important;
  color: #fdfdfd;
  border-radius: 8px;
  padding: 8px 16px;
  font-family: "Noto Sans Arabic";
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  width: 120px;
}

/* Right Navigation */
.right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10%;
}

/* Navigation List */
ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 48px;
}
.active{
  color: #388260 !important;
}
ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 56px;
  padding: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-family: "Noto Sans Arabic";
  font-size: 16px;
  font-weight: 500;
}

/* Navigation Links */
.nav-link {
  color: #243942;
  text-decoration: none;
  font-size: 18px;
  padding: 8px;
  border-radius: 4px;
}

.nav-link:hover {
  background-color: #575757;
  color: white;
}

/* Logo */
.logo img {
  width: 70px;
  height: 70px;
}
.bi-x{
  position: absolute;
  top: 44px;
  right: 10px;
}
/* Responsive Adjustment */
@media (max-width: 768px) {
  .right-nav {
    gap: 20px;
  }

  ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }

  .nav-link {
    display: block;
    text-align: center;
  }

  .navbar-toggler {
    border: none;
    background: transparent;
  }

  .navbar-toggler-icon {
    width: 30px;
    height: 30px;
  }
  .logo{
    text-align: center;
    margin-bottom: 25px;
  }
}




/* <!-------------------!> */

.hero-section{
  position: relative;
  width: 100%;
  height: 421.049px;
  display: inline-block;
}
.hero-section img {
  width: 100%;
height: 421.049px;
}
  .mask{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  height: 421.049px;
  border-radius: 8px;
  background: #222222;   opacity: 0.8;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  }
.mask-text{
      color: white;
    font-weight: bold;
}

/* ---------------- */
.who-are{
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
text-align: center;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
width: 80%;
height: 200px;
flex-direction: column;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
gap: 15px;
}
.who{
  color: var(--Primary-Color, #388260);
font-family: "Noto Sans Arabic";
font-style: normal;
font-weight: 700;
line-height: 150%; 
}

.who-are .text{
  color: var(--Paragraph, #535659);
font-family: "Noto Sans Arabic";
font-style: normal;
font-weight: 400;
line-height: 180%; /* 32.4px */
}
/* ------------ */
.description{
  width: 70%;
  position: absolute;
  right: 8%;
  top: 41%;
  text-align: right;
}
.description p{
  margin-bottom: 30px;
}
.heading p {
  margin-bottom: 30px;

}
.row{
  margin-top: 150px;
  margin-bottom: 50px;
}
.line{
position: absolute;
  width: 1px;
  height: 110px;
  background:#9B9B9B;
  right: 13%;
  top: 100%;
}
.div1{
}
.div1 img{
  width: 100%;
  height: 550.232px;
  -o-object-fit: cover;
     object-fit: cover; /* Ensures the image covers the container without distortion */
  -o-object-position: center;
     object-position: center;
}
.div2{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
/* @media (max-width: 1000px) {
  .div1 {
display: none;  }
} */
.block{
  width: 100%;
  height: 150px;
  position: relative;
  margin-top: 30px;
}
.heading{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.heading p {
  color: var(--text-color, #252626);
font-family: Inter;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 18px;
}
.block i{
  font-size: 20px;
  background-color: #222222;;
  
  color: white;
  padding: 7px;
  border-radius: 50%;
}

/* --------------- */

#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  background: var(--Primary-Color, #388260);
  color: white;
  border: none;
  border-radius: 100%;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Show the button when scrolled down 100px from the top */
#scrollToTopBtn.show {
  display: block;
  z-index: 2000;
}

/* ---------- */

.HD_footer {
  position: relative;
  padding: 1px 0px 4px 34px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  width: 100%;
 background: var(--Primary-Color, #388260);;

}
.footer_mask {
  position: absolute;
  right: 0;
  bottom: 0;
}

.footer_init_logo {
  width: 110px;
  margin-bottom: 40px;
  right: 0;
}

.footer_init_about {
  color: #F5F7FA;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 48px;
}

.footer_section_title {
  color: #F5F7FA;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: var(--white, #FDFDFD);
text-align: right;
font-family: "Noto Sans Arabic";
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.footer_second_section p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.footer_contact_with_flag a {
  color: #CBD2D9;
  font-weight: 400;
  font-size: 19px;
  margin-bottom: 1rem;
  text-decoration: none;
  display: block;

}

.footer_contact_with_flag img {
  width: 24px;
  height: 20px;
  margin-right: 0.5rem;
  

}

.footer_support a {
  color: #CBD2D9;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 1rem;
  text-decoration: none;
  display: block;

  color: var(--white, #FDFDFD);
  font-family: "Noto Sans Arabic";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer_support img {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;

}

.footer_copyright {
  text-align: center;
  color: #CBD2D9;
  font-size: 12px;
  font-weight: 400;
}


.iconss{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  
}
.iconss i{
  font-size: 15px; /* Icon size */
  color: #333; /* Default icon color */
  background-color: white; /* White background */
  padding: 5px; 
  border-radius: 50%; /* Make it a circle */
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1); /* Light shadow effect */
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;

}

@media (max-width:991px) {
  .footer{
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  .footer > *:not(:last-child) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
}

.footer > :last-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}
  .footer_init_logo {
      margin: auto;
      display: block;
      margin-bottom: 40px;
  }

  .footer_init_about {
      text-align: center;
  }

  .footer_second_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
    ;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; 
    margin-top: 15px; }
        


  .footer_third_section {
      text-align: center;
      margin-top: 30px;
      padding-top: 60px;

  }

  .HD_footer{
      padding: 24px;
  }

}

@media (max-width:642px) {
.footer_mask{
  display: none;
}
}
/* ------------- */